/* General Formating Styling */

html,
body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	opacity: 0.9;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
	padding-top: 30px;
}

.center {
    display: flex;
    justify-content: center;
}

/* Font Styling */

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Ibarra Real Nova', sans-serif;
    color: #145d63;
}

p {
	font-family: 'Roboto', serif;
	color: #2f2323;
}

a {
    color: #6c757d;
    font-family: 'Roboto', serif;
}

.cover-text h1 {
	font-weight: 600;
}

.cover-text p {
    font-weight: 300;
    color: #ffffffd1;
}

.veggie {
	color: green;
	font-weight: 900;
	font-size: 1rem;
}

.spicy {
	color: red;
	font-weight: 900;
	font-size: 1rem;
}

.table-text {
	font-family: 'Roboto', serif;
	color: #2f2323;
}

.cent-text {
    text-align: center;
}

/* Navbar Section */

.menu-bar {
	background-color: #d8f4ef;
}

.navbar-toggler {
	color: #00838e;
}

.navbar-toggler i {
	font-size: 2rem;
}

.nav-item a,
i {
	font-size: 1.5rem;
	padding: 10px;
}

.logo {
    width: auto;
    margin-left: 0;
}

.logo-img {
	vertical-align: baseline;
	object-fit: contain;
	height: 90px;
}


/* Navbar & Button Link Styling */

.nav-link {
	color: #00838e;
}

.nav-link:hover {
	color: #f4483a;
}

.active {
	color: #f4483a;
}

/* Button Styling */

.btn-info {
    color: #2a1f1f;
    font-weight: 600;
}

/* Footer Section */

.foot-links a {
	display: inline-block;
    padding: 20px;
}

.footer {
    padding-top: 20px;
    text-align: center;
}

.social-links {
	padding: 15px;
}


/* Section/Hero Image & Text Banner Styling */

.img-container {
    padding: 0;
}

.cover-image {
    margin: 10% auto;
	height: 100vh;
	max-width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.cover-text {
	width: 100%;
	height: auto;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-img-outer {
	height: 65vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* Section/Hero Images */

.index-image {
    background-image: url("../images/Burger-wide.jpg");
    transform: translate(0%, -40%);
}

.about-image {
    background-image: url("../images/two-brothers.jpg");
    transform: translate(0%, -30%);
}


.menu-image {
    background-image: url("../images/Burgers-menu.jpg");
    transform: translate(0%, -30%);
}

.contact-image {
    background-image: url("../images/Contact-us.jpg");
    transform: translate(0%, -40%);
}


.jobs-image {
    background-image: url("../images/Jobs.jpg");
    transform: translate(0%, -20%);
}

/* Content Sections */

.mid-section {
    padding: 0;
    background-color: #bdbdbd;
    padding: 20px;
    margin-bottom: 20px;
}

.mid-bc {
    background-color: #bdbdbd;
}

/* Universal Breaks & Bottom Button */

.cont-break {
	min-height: 5px;
	max-height: 10px;
	background-color: #d8f4ef;
	margin-top: 20px;
	margin-bottom: 20px;
}

.quote-holder {
	background-color: #e0e0e0;
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.button-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 20px;
    text-align: center;
}


/* Rest of Content */

.cover-text h1 {
	font-size: 2rem;
}

.jumbo-logo {
    max-width: 110px; 
    max-height: 110px; 
    margin: 20px auto;
}

.front-imgblock {
	padding: 25px;
	background-color: #e0e0e0;
}

.front-img a img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.front-text {
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
}

.front-text h4 {
    font-weight: 600;
}


/* About Section */

.card-img-top {
	object-fit: cover;
	max-height: 350px;
}

.center-quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
}

#c-quote {
	background-color: #fff;
	border-radius: 5px;
}

.front-page {
	background-color: #d8f4ef;
	border-radius: 5px;
	margin-bottom: 20px;
}


/* Menu  */

.legend {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.menu-button {
	border-color: #3ea9c0;
}

.menu-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.b-top {
    border-top: black dotted 5px;
    padding-top: 20px;
}

.b-bot {
    border-bottom: black dotted 5px;
}

.food-item {
    padding-bottom: 15px;
}

.menu-top{
    display: flex;
    justify-content: flex-end;
}

.placement i {
    color: #f4483a;
}

.card-header {
	background-color: #e0e0e0;
}

.btn-menu {
    font-size: 2rem;
    font-weight: 700;
    color: #145d63;
    text-decoration: none;
}

.m-pad {
    padding-left: 10px;
    padding-right: 10px;
}


/* Job Section */

.open-jobs {
	display: flex;
	justify-content: center;
}

.job-contact {
	margin-bottom: 10px;
}

.carousel-indicators li {
	background-color: #00838e;
}

.card-jobs {
    text-align: center;
}

/* Contact Section */


.contact {
	display: flex;
	flex-flow: column;
    margin: 20px 0;
}

.contact p {
    margin: 0;
}

tbody tr td {
	text-align: left;
}

th {
	text-align: left;
}

.form-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 15px;
}

/* Media Queries */

@media only screen and (max-width: 300px) {
    input, textarea, select {
        max-width: 200px;
        margin: 5px 0;
    }

    .jumbotron-fluid {
        display: none;
    }
    
   
}

@media only screen and (max-width: 767px) {
    .media-padding {
        padding-top: 20px;
        text-align: center;
    }

    .quote-container {
        padding-bottom: 40px;
    }

    input, textarea, select {
        width: 290px;
        margin: 5px 0;
    }

    .tablet {
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    
    .no-gutters .media-padding {
        padding-left: 20px;
        top: 150px;
    }

    .quote-divider {
        padding: 150px;
    }
    
    .mobile-reverse {
        flex-direction: row-reverse;
    }

    .lastn {
        display: flex;
        justify-content: flex-start;
    }

    .firstn {
        display: flex;
        justify-content: flex-end;
    }

    #lname, #fname {
        width: 223px;
    }

    #lname {
        margin-left: 2px;
    }

    #fname {
        margin-right: 2px;
    }

    input, textarea, select {
        width: 450px;
        margin: 5px 0;
    }

    .tablet {
        display: none;
    }

}

@media only screen and (min-width: 992px) {

    /* Interactive Menu/ Menu Display*/

    .mobile {
        display: none;
    }

    .tablet {
        display: flex;
    }
    

}

